*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

div{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

img{
    width: 100%;
}

@font-face {
    font-family: AvenueDream;
    src: url('/font/FontsFree-Net-Dream-Avenue.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('/font/FontsFree-Net-Dream-Avenue.ttf') format('woff2'),             /* Super Modern Browsers */
         url('/font/FontsFree-Net-Dream-Avenue.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('/font/FontsFree-Net-Dream-Avenue.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('/font/FontsFree-Net-Dream-Avenue.ttf') format('svg');               /* Legacy iOS */
}

.font-avenue-dream{
    font-family: AvenueDream;
    font-weight: 600;
}

.font-color-white{
    color: #fff;
}

container{
    background-color: rgb(255, 198, 127);
}

.fixed-content{
    width: 70%;
    height: 100vh;
    background-image: url('/image/foto_prewedd.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-content h1{
    font-size: 85px;
    text-align: center;
    margin: 40px;
    position: absolute;
    bottom: 25px;
}

.nav-container{
    position: absolute;
    right: 20px;
}

.nav-icon{
    background-color: #396793;
    border-radius: 40px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-icon button{
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 8px 0px;
}

.nav-icon img, .invitation img, p.instagram img{
    width: 20px;
}

.scrolled-content{
    width: 30%;
    position: absolute;
    right: 0;
}

.section1{
    width: 100%;
    height: 100vh;
    background-image: url('/image/bg-theweddingof.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    padding: 25px 0;
}

.line {
    width: 41px;
    height: 0;
    border: 1px solid #fff;
    margin: 8px;
    display:inline-block;
}

.section1-title img{
    width: 28px;
    height: 28px;
    position: absolute;
    gap: 0px;
    opacity: 0px;
}

.section1-title img.star1{
    left: 30.03%;
    right: 62.85%;
    top: 3.24%;
    bottom: 96.37%;
}

.section1-title img.star2{
    left: 68.23%;
    right: 24.65%;
    top: 3.24%;
    bottom: 96.37%;
}

.section1-title img.star3{
    left: 15.62%;
    right: 77.26%;
    top: 4.36%;
    bottom: 95.26%;
}

.section1-title img.star4{
    left: 73.78%;
    right: 19.1%;
    top: 4.35%;
    bottom: 95.27%;
}

.section2{
    width: 100%;
    height: 100vh;
    background-image: url('/image/bg-ourweddingday.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section3{
    width: 100%;
    height: 100vh;
    background-image: url('/image/bg-brownshaped.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.section5{
    width: 100%;
    height: 100vh;
    background-image: url('/image/bg-blueshaped.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.timesection{
    display: inline-block;
    margin-left: 4px;
}

.timesection:first-child{
    margin-left: 0;
}

.section6{
    width: 100%;
    background-color: #AC936B;
}

.section8{
    width: 100%;
    height: 100vh;
    background-image: url('/image/momen_bahagia.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (max-width: 860px) {
    div.fixed-content{
      display: none;
    }

    div.scrolled-content{
        width: 100%;
    }
}