*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

@font-face {
    font-family: AvenueDream;
    src: url('/font/FontsFree-Net-Dream-Avenue.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('/font/FontsFree-Net-Dream-Avenue.ttf') format('woff2'),             /* Super Modern Browsers */
         url('/font/FontsFree-Net-Dream-Avenue.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('/font/FontsFree-Net-Dream-Avenue.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('/font/FontsFree-Net-Dream-Avenue.ttf') format('svg');               /* Legacy iOS */
}

.font-avenue-dream{
    font-family: AvenueDream;
}

.main-container{
    background-color: bisque;
    display: flex;
}

.fixed-content{
    width: 75%;
    background-image: url('/image/foto_prewedd.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height: 100vh;
}

.scrolled-content{
    width: 25%;
    background-image: url('/image/bg-theweddingof.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height: 100vh;
}

.section1{
    margin: 0;
    padding: 0;
    
}

.hr-text {
    border: 0;
    font-size: 14px;
    height: 1.5em;
    line-height: 1em;
    position: relative;
    text-align: center;
}

.hr-text::before {
    content: "";
    background: linear-gradient(to right, transparent, white, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text::after {
    background-color: #ffffff00;
    color: white;
    content: attr(data-content);
    line-height: 1.5em;
    padding: 0 7px;
    position: relative;
}