*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

div{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

img{
    width: 100%;
}

@font-face {
    font-family: AvenueDream;
    src: url('../font/FontsFree-Net-Dream-Avenue.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('../font/FontsFree-Net-Dream-Avenue.ttf') format('woff2'),             /* Super Modern Browsers */
         url('../font/FontsFree-Net-Dream-Avenue.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('../font/FontsFree-Net-Dream-Avenue.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('../font/FontsFree-Net-Dream-Avenue.ttf') format('svg');               /* Legacy iOS */
}

.font-avenue-dream{
    font-family: AvenueDream;
    font-weight: 600;
}

.font-color-white{
    color: #fff;
}

.font-color-blue{
    color: #396793;
}

.font-color-yellow{
    color: #F8D18A;
}

container{
    background-color: rgb(255, 198, 127);
}

.fixed-content{
    width: 70%;
    height: 100vh;
    background-image: url('../img/foto_prewedd.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-content h1{
    font-size: 85px;
    text-align: center;
    margin: 40px;
    position: absolute;
    bottom: 25px;
}

.nav-container{
    position: absolute;
    right: 20px;
}

.nav-icon{
    background-color: #396793;
    border-radius: 40px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-icon button{
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 8px 0px;
}

.nav-icon img, .invitation img, p.instagram img{
    width: 20px;
}

.scrolled-content{
    width: 30%;
    position: absolute;
    right: 0;
}

.section1{
    width: 100%;
    height: 100vh;
    background-image: url('../img/bg-theweddingof.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
}

.section1-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section1-header hr{
    width: 22%;
    background-color: #FFFFFF; 
    color: #FFFFFF;
    height: 2px;
}

.section1-header p{
    font-weight: 300;
    font-size: 20px;
    margin: 0 10px;
}

.section1-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1-title h2{
    font-size: 39.29px;
}

.section1-title h3{
    font-size: 28.57px;
}

.section1-title img{
    width: 7%;
    position: absolute;
    gap: 0px;
    opacity: 0px;
}

.section1-title img.star1{
    left: 30.03%;
    top: 37%;
}

.section1-title img.star2{
    right: 24.65%;
    top: 37%;
}

.section1-title img.star3{
    left: 15.62%;
    top: 50%;
}

.section1-title img.star4{
    left: 73.78%;
    top: 50%;
}

.section1-invitation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
}

.section1-invitation p{
    font-size: 15px;
    font-weight: 400;
}

.section1-invitation h4{
    font-size: 20px;
    font-weight: 500;
}

.section1-invitation hr{
    width: 50%;
    background-color: #FFFFFF; 
    color: #FFFFFF;
    height: 3px;
    margin-top: 5px;
}

.section1-invitation a{
    text-decoration: none;
    cursor: pointer;
}

.section1-invitation .invitation{
    background-color: #396793;
    padding: 15px;
    width: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.invitation-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.invitation img{
    width: 30px;
}

.invitation h5{
    color: #fff;
    font-size: 14.29px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 10px;
    margin: 0;
}

.section2{
    width: 100%;
    height: 100vh;
    background-image: url('../img/bg-ourweddingday.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.section2 p{
    font-size: 23.57px;
    margin-top: 20px;
}

.section2 h2{
    font-size: 45.23px;
    text-align: center;
}
.section2 p.date{
    font-size: 18.57px;
    margin-top: 10px;
}

.section3{
    width: 100%;
    background-image: url('../img/bg-brownshaped.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 15px;
    text-align: center;
}

.section3 img{
    width: 19%;
}

.section3 h2{
    font-size: 14.29px;
    margin: 15px 0;
}

.section3 p{
    font-size: 11.43px;
}

.section4{
    width: 100%;
    padding: 15px;
    text-align: center;
}

.section4 p.bismillah{
    font-size: 11.43px;
    padding-bottom: 15px;
    margin: 0;
    padding: 0;
}

.section4 img.groom-vector{
    width: 29%;
    position: absolute;
    left: 54%;
    margin-top: 21px;
}

.groom{
    text-align: left;
}

.groom-profile{
    margin-top: 50px;
    position: relative;
    text-align: left;
}

.groom-profile h2{
    position: absolute;
    bottom: 0;
    margin-right: 15px;
    font-size: 50px;
    right: 0;
}

.groom-profile img.groom-photo{
    width: 58%;
    margin-left: 15px;
}

.groom-profile img.flowers-border{
    position: absolute;
    width: 55%;
    top: 35.5%;
    left: 0;
}

.groom h3, .groom p{
    margin-left: 15px;
}

.section4 img.bride-vector{
    width: 29%;
    position: absolute;
    right: 54%;
    margin-top: 21px;
}

.bride{
    text-align: right;
}

.bride-profile{
    margin-top: 50px;
    position: relative;
    text-align: right;
}

.bride-profile h2{
    position: absolute;
    bottom: 0;
    margin-left: 15px;
    font-size: 50px;
    left: 0;
}

.bride-profile img.bride-photo{
    width: 58%;
    margin-right: 15px;
}

.bride-profile img.flowers-border{
    position: absolute;
    width: 55%;
    top: 35.5%;
    right: 0;
    transform: scaleX(-1);
}

.section4 h3{
    margin-top: 37px;
    font-size: 27.14;
}

.section4 .groom p, .section4 .bride p{
    font-size: 17.14px;
}

.bride h3, .bride p{
    margin-right: 15px;
}

.section4 p.names{
    margin-bottom: 10px;
}

.groom a, .bride a{
    text-decoration: none;
}

.section5{
    width: 100%;
    background-image: url('../img/bg-blueshaped.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 35px 15px 15px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section5 h2{
    font-size: 35.71px;
    font-weight: 500;
    margin: 18px 0;
}

.section5 p{
    font-size: 11.43px;
}

.timesection{
    display: inline-block;
    margin-left: 4px;
}

.timesection:first-child{
    margin-left: 0;
}

.value, .timelabel{
    font-size: 17.14px;
}

.section6{
    width: 100%;
    background-color: #AC936B;
    text-align: center;
    padding: 25px 30px 0 30px;
    color: #F4E1BE;
}

.section6 p{
    font-size: 14.29px;
    margin: 0;
}

.section6 p.desc{
    font-size: 11.43px;
    margin: 0;
}

.section6 img{
    margin: 25px 0;
}

.section6 h2{
    font-size: 42.86px;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -14%;
}

.section6 h2.resepsi{
    margin-top: 2%;
}

.section7{
    text-align: center;
    padding: 50px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section7 h2{
    font-size: 42.86px;
}

.section7 div.photo{
    width: 56%;
    margin: 50px auto;
}

.section7 div.photo{
    margin-bottom: 10px;
}

.section7 div.bird{
    width: 30%;
    position: absolute;
    left: 55%;
    top: 120px;
    z-index: -10;
}

.section7 h2.year{
    margin-left: -145px;
    font-size: 42.86px;
}

.section7 h3{
    font-size: 17.14px;
}

.section7 .stars{
    width: 100%;
    text-align: right;
    margin-right: 30px;
}

.section7 .stars img{
    width: 19%;
}

.section8{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section8 h2{
    position: absolute;
    font-size: 35.71px;
}

.section9{
    width: 100%;
    background-color: #AC936B;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 25px;
}

.section9 .love-ornaments{
    width: 5%;
}

.section9 h2{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.xzoom-thumbs a{
    text-decoration: none;
}

.xzoom-thumbs img{
    display: inline-block;
    height: 80px;
    width: 80px;
    border: 1px solid #ccc;
}

.xzoom-preview{
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.2);
}

.active{
    border: 1px solid #4aaad2;
    box-shadow: 0 0 3px 0 #4aaad2;
}

.img-display{
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 2%;
}

.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img{
    min-width: 100%;
}

.img-select{
    display: flex;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3),
.img-item:nth-child(4),
.img-item:nth-child(5){
    margin-right: 2%;
}

.img-item:hover{
    opacity: 0.8;
}

.product-imgs{
    margin-bottom: 25px;
}

.section9 .slide-gallery{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section9 .slide-gallery h3{
    font-size: 17.86px;
    font-weight: 400;
    text-wrap: nowrap;
    margin: 0;
}

.section9 .slide-gallery .line{
    width: 100%;
    height: 0px;
    border: 1px white solid;
    margin: 0 10px;
}

.section9 .slide-gallery .left-right{
    display: flex;
    flex-direction: row;
}

.section9 .slide-gallery .slide-left, .section9 .slide-gallery .slide-right{
    width: 30px;
    padding: 24%;
    background-color: #F8D18A;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section9 .space{
    width: 8px;
}

.section9 .slide-gallery .slide-left img{
    transform: scaleX(-1);
}

.section9 .slide-gallery a{
    text-decoration: none;
    color: #FFFFFF;
}

.section10{
    padding: 25px 0;
    text-align: center;
    position: relative;
}

.section10 .vector{
    width: 29%;
    position: absolute;
    z-index: -1;
}

.section10 .konfirmasi .vector{
    left: 68%;
    top: 4.4%;
}

.section10 .kirim .vector{
    left: 48%;
    top: 9.9%;
}

.section10 .konfirmasi-kirim{
    margin: 41px 0;
}

.section10 .branch_ornaments{
    width: 22%;
    position: absolute;
    left: 5%;
    margin-top: -41px;
}

.section10 .surat_ornaments{
    width: 31%;
    position: absolute;
    left: 11%;
    margin-top: -41px;
}

.section10 .rectangle-photo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 66px;
}

.section10 .photo-konfirmasi-kirim{
    width: 58%;
}

.section10 h3{
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.section10 .rectangle-relative{
    width: 49%;
}

.section10 .rectangle-blue{
    background-color: #396793;
    width: 49%;
    height: 82%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.section10 .konfirmasi .rectangle-blue{
    margin-left: 25px;
    border-radius: 0 100px 100px 0;
}

.section10 .kirim .rectangle-blue{
    margin-right: 25px;
    border-radius: 100px 0 0 100px;
    right: 0;
}

.section10 .wishes{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding-bottom: 20px;
}

.section10 h2{
    font-size: 42.86px;
    margin-bottom: 50px;
}

.section10 .wish{
    background-color: #AC936B;
    width: 83%;
    margin-bottom: 25px;
    padding: 2.6% 0;
    border-radius: 200px 200px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section10 .wish-border{
    border: 2px solid #F4E1BE;
    width: 94%;
    border-radius: 200px 200px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section10 .ring{
    width: 25%;
    margin: 40px 0 30px 0;
}

.section10 .tamu-undangan{
    width: 89%;
}

.section10 h5{
    font-weight: 500;
    font-size: 17.14px;
    margin: 0;
}

.section10 hr{
    border: none;
    border-top: 2px solid #FFFFFF;background-color: #4aaad2;
    margin: 7px 0;
}

.section10 .location{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12.86px;
    font-weight: 400;
}

.section10 .location img{
    width: 4%;
    margin-right: 7px;
}

.section10 p{
    font-size: 11.43px;
    font-weight: 300;
}

.section10 .bird-letter-ornaments{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section10 .bird-letter-ornaments img{
    width: 33%;
}

.section10 .bird-letter-ornaments img.bird2{
    transform: scaleX(-1);
}

.section10 .form-ucapan{
    width: 83%;
    text-align: center;
}

.section10 h4{
    margin: 35px 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form textarea, form button{
    width: 100%;
    background-color: #AC936B;
    border: none;
    color: #FFFFFF;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 15.71px;
    font-weight: 500;
    outline: none;
}

form input{
    height: 55px;
}

form textarea{
    height: 140px;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}
  
::-ms-input-placeholder { /* Edge 12 -18 */
    color: white;
}

form button{
    height: 60px;
    background-color: #396793;
    margin-top: 15px;
    font-size: 17.86px;
    font-weight: 600;
}

.section11{
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section11-content{
    padding: 25px 0;
    font-size: 12.86px;
    font-weight: 400;
    position: absolute;
}

.section11-content h6{
    font-size: 14.29px;
    margin: 25px 0;
}

.copyright{
    width: 100%;
    height: 65px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 11.43px;
    font-weight: 500;
}

.copyright p{
    margin: 0;
}

.copyright img{
    width: 2%;
}

.copyright span{
    font-weight: 700;
    color: #AC936B;
}

@media (max-width: 860px) {
    div.fixed-content{
      display: none;
    }

    div.scrolled-content{
        width: 100%;
    }
}